node_modules/**
/node_modules/**
dist/**
/build/**
/out/**
/.next/
/public/build/
.env
.env.local 
.env.development.local
.env.test.local
.env.production.local
/backend/.env
/frontend/.env
/frontend/node_modules/
.DS_Store
.idea/
.vscode/
Thumbs.db
credentials.json
/backend/credentials.json
coverage/
.npm/
.yarn/
*.tgz
*.zip
*.rar
*.swp
easylife-dashboard/**
/easylife-dashboard/node_modules/
/easylife-dashboard/.env
/easylife-dashboard/.env.local
/easylife-dashboard/.env.development.local
/easylife-dashboard/.env.test.local

/easylife-dashboard/.env.production.local
/easylife-dashboard/.DS_Store
/easylife-dashboard/.idea/
/easylife-dashboard/.vscode/
/easylife-dashboard/Thumbs.db
/easylife-dashboard/coverage/  
easylife-dashboard/.npm/
easylife-dashboard/.yarn/
package-lock.json
yarn.lock